# SPDX-License-Identifier: MIT-0
---
# tasks file for hyperledger-caliper
- name: Update packages
  ansible.builtin.apt:
    update_cache: true
  become: true

- name: Install prerequisites
  ansible.builtin.apt:
    name:
      - curl
      - jq
      - nodejs
      - npm
    state: present
  become: true

- name: Remove existing Hyperledger Caliper git repo
  ansible.builtin.file:
    path: "{{ install_caliper_dir }}"
    state: absent

- name: Download Hyperledger Caliper git repo
  ansible.builtin.git:
    repo: https://github.com/hyperledger-caliper/caliper-benchmarks.git
    version: v0.6.0
    dest: "{{ install_caliper_dir }}"

- name: Install Caliper in Caliper repo
  ansible.builtin.command:
    argv:
      - npm
      - install
      - --only=prod
      - "@hyperledger/caliper-cli@0.6.0"
    chdir: "{{ install_caliper_dir }}"
  changed_when: false

- name: Bind the Caliper SDK
  ansible.builtin.command:
    argv:
      - npx
      - caliper
      - bind
      - --caliper-bind-sut
      - fabric:fabric-gateway
    chdir: "{{ install_caliper_dir }}"
  changed_when: false
