test:
  name: scm-contract-benchmark
  description: Supply Chain Management chaincode benchmark
  workers:
    number: {{ caliper_benchmark_workers_number }}
  rounds:
    - label: readSCM
      description: SCM read operations benchmark (viewAsset, viewAllAssets)
      txDuration: {{ caliper_benchmark_rounds_txDuration }}
      rateControl:
        type: fixed-rate
        opts:
          transactionLoad: {{ caliper_benchmark_rounds_rateControl_opts_transactionLoad }}
      workload:
        module: workload/scmWorkload.js
        arguments:
          contractId: scm
monitors:
  resource:
    - module: docker
      options:
        interval: 5
        containers:
          - all
