# SPDX-License-Identifier: MIT-0
---
# tasks file for roles/common
- name: Update packages
  ansible.builtin.apt:
    update_cache: true

- name: Install basic tools
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl
    state: present
